.image-container {
    position: relative;
    width: 60px;
    height: 70px;
}

.profile-image1 {
    width: 60px;
    height: 70px;
}

.profile-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}